body {
    font-family: 'Poppins', sans-serif;
} 
.pt-100 {
    padding-top: 100px;
} 
.pb-100 {
    padding-bottom: 100px;
} 
.hero-banner .carousel-inner::before {
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: rgba(29, 29, 29, 0.7);
    z-index: 1;
} 
.hero-banner .carousel-caption {
    right: unset;bottom: unset;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 670px;
} 
.institute-grid {
    grid-template-columns: repeat(3, 1fr);
} 
.accordion-button {
    border: 1px solid #eee;
    color: #4A4A4A !important;
} 
.companies-grid {
    grid-template-columns: repeat(6, 1fr);
} 
.social-icon a {
    width: 40px;height: 40px;
    background: #242424;
} 
#carouselExampleControls .carousel-control-next,#carouselExampleControls .carousel-control-prev {
    width: 35px;height: 35px;
    background: #289BDE;
    padding: 7px;top: 44%;
    border-radius: 100px; 
} 
.carousel-control-prev {
    left: -17px;
} 
.carousel-control-next {
    right: -17px; 
}